@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Principal colors */
  --bg-primary: #1E1A38;
  --accent-primary: #E96890;
  --accent-secondary: #33C7B2;


  /* Seconds colors */
  --text-light: #FFFFFF;
  --text-muted: #988FB0;
  --border-color: #39335A;


  /* Estados */
  --button-hover: #2AAAA0;
  --accent-hover: #D55980;


  color: var(--text-light);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width: 500px) and (min-width: 375px) {

  .order-page,
  .order-item-box,
  .checkout-button,
  .order-item-header,
  .order-item-counter,
  .event-name,
  .event-date,
  .event-time {
    width: 100%;
    font-size: 0.95rem;
  }

  .event-name {
    font-size: 1.2rem;
    text-align: center;
  }

  .order-item-counter {
    height: 50px;
    font-size: 1.2rem;
  }

  .counter-cell {
    font-size: 1.4rem;
  }

  .checkout-button {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
  }
}