.LandingPage__footer {
    position: absolute;
    gap: 1rem;
    bottom: 0;
    width: 100%;
    background-color: #d9649c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    z-index: 100;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.LandingPage__footer nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.LandingPage__footer a {
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: transform 0.2s ease;
    flex: 1;
    font-size: 1.5rem;

}

.LandingPage__footer a:hover {
    transform: scale(1.1);
}