html,
body {
    height: 100%;
    margin: 0;

}

main {
    max-width: 100%;
}

.layout-container {
    display: flex;
    flex-direction: column;

}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    position: relative;
}


.LandingPage__footer {
    display: flex;
    gap: 2rem;
    width: 100%;
    background-color: #d9649c;
    flex-direction: column;
    padding: 1rem 0;
    z-index: 100;
    padding-bottom: 2rem;
    font-size: 1rem;
    z-index: 100;

}

.LandingPage__footer nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.LandingPage__footer a {
    justify-content: space-around;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: transform 0.2s ease;
    gap: 2rem;
    font-size: 1.5rem;

}

.LandingPage__footer a:hover {
    transform: scale(1.1);
}