@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');

.order-item-box {
    display: grid;
    border: 2px solid #f56b9a;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    font-family: sans-serif;
    color: white;
    margin: 1rem 0;

}

.order-item__date {
    display: grid;

}

.order-item-header {
    padding: 2rem;
    border-bottom: 1px solid #f3a5c7;
    text-align: center;
}

.order-item__event-name {
    margin-top: 1rem;
    font-family: 'Sansita One', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f56b9a;
    margin-bottom: 4px;
    text-align: left;
    margin-left: 1rem;
    padding: 0.5rem;
}


.order-item__event-date {
    font-size: 0.95rem;
    color: #65d0c9;
    text-align: left;
    margin-left: 1rem;
}

/* Parte inferior: contador */
.order-item__counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
    text-align: center;
    border-top: 1px solid #f3a5c7;
    background-color: transparent;
}

.counter-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: transparent;
}


.counter-cell:not(:last-child) {
    border-right: 1px solid #f3a5c7;
}