.order-page {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.page-title {
    font-family: 'Sansita One', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: #F56B9A;
    margin-bottom: 2rem;

}

/* CARD DE ITEM */

/* .order-item .date {
    font-size: 0.9rem;
    color: #65d0c9;
    margin-bottom: 0.8rem;
}

.order-items {
    display: grid;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
    grid-template-rows: auto auto;
    margin: 0 auto;
}

/* 🎤 Tarjeta de cada evento en la orden */
/* .order-item {
    grid-template-rows: auto auto;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    border: 2px solid #F56B9A;
    border-radius: 10px;
    padding: 12px;
    color: white;
    overflow: hidden;
} */



/* 🎤 Nombre del evento */
/* .order-item p:first-of-type {

    flex-direction: column;
    font-size: 1.6rem;
    font-weight: bold;
    color: #F56B9A
} */

/*  Contador de boletos */
/* .order-item__counter {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
} */

/* ➖ Botones de cantidad */
/* .order-item__counter button,
.order-item__counter span {
    background: transparent;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #f3a5c7;
} 

.ticket-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    height: 50px;
}


.ticket-cell:not(:last-child) {
    border-right: 1px solid #f3a5c7;
} */

/* 
.order-items {
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
}

.order-item {
    border: 2px solid #f3a5c7;
    display: grid;
    color: #F56B9A;
    grid-template-columns: 1fr 2fr 1fr;
    border-top: 1px solid #f3a5c7;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;

} 



.ticket-price {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 2px solid #f3a5c7;
    text-shadow: 2px 2px 0px #ff89bb;
}


.ticket-counter-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #f3a5c7;
}


.ticket-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    height: 50px;
}


.ticket-cell:not(:last-child) {
    border-right: 1px solid #f3a5c7;
}

/* TOTAL */
.order-total {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #c2c2c2;
    font-family: sans-serif
}

.order-total .total-price {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0 #F56B9A;
    margin-top: 0.5rem;

}

/* BOTÓN */
.checkout-button {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #4ac7c4;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.checkout-button:hover {
    background-color: #3cb5b2;
}