@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');

.searchbar {
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.header__search-bar {
    flex-direction: column;
    display: flex;
    margin-top: 2rem;

}

.search-list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansita One', Arial, sans-serif;
    font-size: 2.5rem;
    color: #ff6e9e;
    font-weight: bold;
    font-style: italic;

}

.header__input {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    background-color: #05043f80;
    opacity: 1;
    border: none;
    color: white;
    outline: none;
    border-radius: 8px;
}

.header__input::placeholder {
    color: #afaaaa;

}