@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');


.search-container {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    width: 100%;
}


.searchbar {
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.header__search-bar {
    flex-direction: column;
    display: flex;
    margin-top: 2rem;
    color: #ffffff;

}

.search-list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansita One', Arial, sans-serif;
    font-size: 2.5rem;
    color: #ff6e9e;
    font-weight: bold;
    font-style: italic;

}

.header__input {
    flex: 1;
    padding: 10px 42px;
    font-size: 20px;
    width: 100%;
    background-color: #07065c80;
    opacity: 1;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #ffffff;

}

.header__input::placeholder {
    color: #afaaaa;

}

.search-button {
    position: absolute;
    left: 15px;
    font-size: 18px;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #dcd7d9;
}