body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sansita One', Arial, sans-serif;

}

.ticket {
    width: 350px;
    margin: 2rem auto;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #d9649c, #6e3d97);
    padding: 2rem 1rem;
    background-color: #fff;
}

.ticket__header {
    background: white;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}

.ticket__title {
    color: #d9649c;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ticket__label {
    font-size: 0.8rem;
    color: #888;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.ticket__section {
    padding: 1rem;
    border-bottom: 1px dashed #ccc;
    background: white;
}

.ticket__location-name,
.ticket__location-address {
    font-size: 1rem;

}

.ticket__location-name {
    font-weight: bold;
}

.ticket__location-address {
    font-size: 0.9rem;
    color: #666;
}

.ticket__section--time {
    display: flex;
    justify-content: space-around;
    background: #f4f4f4;
    border-top: 2px solid #d0baff;
    border-bottom: 2px solid #d0baff;
    padding: 1rem 0;
    font-weight: bold;
}

.ticket__time-block {
    text-align: center;
}

.ticket__time {
    display: block;
    font-size: 1rem;
    color: #444;
    margin-top: 0.25rem;
}

.ticket__section--footer {
    background: #eee;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 0 0 10px 10px;
}

.ticket__note {
    margin-bottom: 0.75rem;
    font-size: 0.85rem;
    color: #444;
}

.ticket__barcode {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem;
}

.ticket__barcode-id {
    text-align: center;
    color: #666;
    font-weight: bold;
    font-size: 0.85rem;
}